.custom-support-button {
    text-align: center;
    margin: 20px 0;
}

.support-button {
  width: 50%;
  color: #fff;
  font-size: 20px;
  background-color: #3498db;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
  /* デフォルトの影を追加（立体感を演出） */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.support-button:hover {
  background-color: #7cb6dd;
  transform: translateY(3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.support-count {
    margin-left: 10px;
}

.thank-you-message {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #3498db;
}
